@import "../../styles/theme.scss";

.icons {
  list-style: none;
  width: 80%;
  height: 10rem;
  border-top: 1px solid $border_color;
  margin: 0 2rem 0 2rem;
  display: flex;
  justify-content: center;
  padding: 0;
}

.icons li {
  width: 2.5rem;
  margin: 1rem 3rem 0 3rem;
  padding: 0;
}

.icons li a {
  transition: 150ms ease-in;
}

.icons li a:active,
.icons li a:hover {
  color: $theme_secondary;
}

.position {
  display: flex;
  justify-content: center;
}
