@import "../../styles/theme.scss";

.head_card {
  margin-top: 2rem;
  font-family: "poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  position: absolute;
  top: 30%;
  left: 50%;
  right: 50%;

  .wrapper {
    display: inline-flex;
    background: $theme_primary;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

    .static_text {
      font-size: 60px;
      font-weight: 400;
      margin-top: 24px;
      width: 12.5rem;
    }

    .dynamic_text {
      margin-left: 15px;
      line-height: 90px;
      height: 85px;
      overflow: hidden;
      padding: 0;

      li {
        list-style: none;
        font-size: 60px;
        font-weight: 300;
        position: relative;
        animation: slide 8s steps(4) infinite;
        top: 0;
        color: rgb(104, 101, 101);
      }

      @keyframes slide {
        100% {
          top: -360px;
        }
      }

      li span {
        position: relative;
      }

      li span::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-left: 3px solid black;
        background: white;
        left: 0;
        animation: typing 2s steps(9) infinite;
      }
    }

    @keyframes typing {
      100% {
        left: 100%;
        margin: 0 -35px 0 35px;
      }
    }

    .text_box {
      background-color: white;
      border-radius: 20px;
      margin: 0.5rem 0 0.5rem 0.5rem;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
      padding-right: 8px;
    }
  }
}
