@import "../../styles/media.scss";

.background {
  background-image: url("../Assets/profile-image.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  min-height: 100vh;

  @media screen and (max-width: $phones) {
    background-position: center;
  }
}
