@import "../../../styles/theme.scss";
@import "../../../styles/media.scss";

.recipe_card {
  background: $theme_primary;
  height: 15rem;
  margin: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  list-style: none;
  padding: 0;
  width: 20rem;

  @media screen and (max-width: $phones) {
    margin: unset;
    margin-bottom: 1rem;
    width: 100vw;
    height: 16rem;
  }

  .recipe_card_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem 0 0.5rem;
    height: 2.5rem;

    h4 {
      flex-grow: 1;
    }
  }

  .card_wrapper {
    position: relative;

    img {
      width: 100%;
      height: 12.5rem;
      position: relative;
      z-index: 1;
      cursor: pointer;

      @media screen and (max-width: 1280px) {
        height: 14rem;
      }
    }

    .time {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      background: $theme_secondary;
      padding: 4px;
      margin: 8px;
      border-radius: 8px;
      font-weight: bold;
    }

    .vegeterian {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 10;
      background: rgb(211, 255, 198);
      padding: 0.5rem;
      border-radius: 50%;
      color: rgb(119, 199, 0);
      width: 2rem;
      height: 2rem;
      font-size: 1.5rem;
      font-weight: 900;
      bottom: 1rem;
      right: 0.75rem;
    }
  }
}
