@import "../../styles/theme.scss";

.create_recipe_container {
  display: flex;
  justify-content: center;

  .create_recipe {
    display: flex;

    form {
      h1 {
        text-align: center;
      }

      .create_recipe_top {
        background: rgb(231, 255, 231);
        padding: 1rem;
        display: flex;

        .recipe_title,
        .recipe_prep,
        .recipe_difficulty,
        .recipe_image {
          padding: 0.5rem;

          input {
            padding: 0.5rem;
          }
        }
      }
    }
  }
}
