.layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-right: 10rem;
  margin-left: 8rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.button button {
  font-size: 18px;
  padding: 0.5rem;
  background: rgb(74, 185, 0);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 150ms ease-in;
}

.button button:active,
.button button:hover {
  background: rgb(202, 255, 129);
  color: black;
}