@import "../../styles/theme.scss";
@import "../../styles/media.scss";

.user_flex_container {
  display: flex;
  flex-direction: column;

  .recipes_list {
    width: 100%;

    h1 {
      text-align: center;
      margin: 0 20% 0 20%;
      padding-bottom: 1rem;
      border-bottom: 1px solid $border_color;

      @media screen and (max-width: $phones) {
        border-bottom: unset;
      }
    }

    .no_recipes {
      font-size: 24px;
      text-align: center;
      margin-top: 1rem;
      font-weight: bolder;
      color: rgb(63, 63, 63);
      margin-bottom: 5rem;
    }
  }

  .back {
    position: absolute;
    top: -2rem;
    right: -5rem;
    background: white;
    padding: 2rem;
    transform: rotateZ(45deg);
    width: 15rem;
    height: 6rem;
  }

  .button {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
