.back {
  position: absolute;
  top: -2rem;
  right: -5rem;
  background: white;
  padding: 2rem;
  transform: rotateZ(45deg);
  width: 15rem;
  height: 6rem;
}

.button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
