.background {
  background-image: url("../../Assets/create-recipe.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100vw;
}
